In [9]:
# Example from https://people.wikimedia.org/~bearloga/notes/wdqs-python.html

from SPARQLWrapper import SPARQLWrapper, JSON
import pandas as pd

sparql = SPARQLWrapper("https://query.wikidata.org/sparql")

# From https://www.wikidata.org/wiki/Wikidata:SPARQL_query_service/queries/examples#Cats
sparql.setQuery("""
SELECT ?item ?itemLabel
WHERE
{
    ?item wdt:P31 wd:Q146 .
    SERVICE wikibase:label { bd:serviceParam wikibase:language "en" }
}
""")
sparql.setReturnFormat(JSON)
results = sparql.query().convert()

results_df = pd.json_normalize (results['results']['bindings'])
results_df[['item.value', 'itemLabel.value']].head()

                               item.value itemLabel.value
0  http://www.wikidata.org/entity/Q378619              CC
1  http://www.wikidata.org/entity/Q498787          Muezza
2  http://www.wikidata.org/entity/Q677525         Orangey
3  http://www.wikidata.org/entity/Q851190     Mrs. Chippy
4  http://www.wikidata.org/entity/Q893453  Unsinkable Sam